body{
    background-color: #222831;

}
div.a{
    color:white
}

div.b{
    color: white;
}
div.c{
    color: white;
}
div.d{
    color: white;
}
div.f{
    color: white;
}

div.h{
    color: white;
}

div.j{
    color: white;
}

div.k{
    color: white;
}

div.l{
    color: white;
}
div.m{
    color: white;
}
div.n{
    color:#00ADB5;
}
div.p{
    color: white;
}
div.r{
    color: white;
}
div.s{
    color:white;
}
